.fold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    
    h1 {
        width: 100%;
        text-align: center;
        font-size: min(13vw, 128pt);
        margin: 0;
    }

    .above-the-fold-links {

        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        max-width: 1400px;
        margin-bottom: 100px;

        a {
            font-family: 'Inconsolata', monospace;
            font-size: 14pt;
            text-decoration: none;
            padding: 5px 15px;
            padding-bottom: 7px;
            border-radius: 7px;
            background-color: transparent;
            color: black;
            transition: background-color 0.4s ease;

            body.hasHover &:hover {
                background-color: #f0f0f0;
            }
        }
    }

    .fold-arrow {
        position: absolute;
        text-decoration: none;
        color: black;
        bottom: 0px;
        padding: 40px;

        svg {
            font-size: 36pt;
            animation: slide-arrow 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;

            @keyframes slide-arrow {
                0% {
                    transform: translateY(0);
                }
                20% {
                    transform: translateY(30px);
                }
                40% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }

        &.safari {
            margin-bottom: 70px;
        }
    }
}

#landing-tiles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    position: relative;

    .project-row {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1400px;
        margin-bottom: 25px;


        .tile {
            background-color: #f3f3f3;
            border-radius: 30px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .tile-header {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);

                h2 {
                    font-size: 34pt;
                    text-align: center;
                    padding: 0 15px;
                    margin: 0;
                }
            }

            .tile-toggle {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 28pt;
                transform: rotate(0);
                padding: 25px;
                cursor: pointer;
                transition: transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            }
        }

        &.row0, &.row2 {
            width: 100%;
            max-width: 1400px;
            height: 500px;
            transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            position: relative;

            #the-blocks, #compound {
                width: calc(60% - 12.5px);
                max-width: 827.5px;
                position: relative;
                top: 0;
                left: 0;
                height: 500px;
                transform: translateY(0);
                margin-right: 25px;
                margin-bottom: 0px;
                transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            }

            #shoebox, #everyday-portfolio {
                width: calc(40% - 12.5px);
                max-width: 547.5px;
                position: relative;
                top: 0;
                right: 0;
                height: 500px;
                transform: translateY(0);
                transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            }

            &.expanded-the-blocks, &.expanded-compound {
                height: 1000px;
                align-items: flex-end;
                justify-content: flex-end;

                #the-blocks, #compound {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-width: 1400px;
                    height: 600px;
                    margin-right: 0;
                    margin-bottom: 25px;

                    .tile-header {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 25px;
                    }

                    .tile-toggle {
                        transform: rotate(45deg);
                    }
                }
    
                #shoebox, #everyday-portfolio {
                    width: calc(40% - 12.5px);
                    height: 375px;
                    transform: translateY(0px);
                }
            }

            &.expanded-shoebox, &.expanded-everyday-portfolio {
                height: 1000px;
                align-items: flex-end;
                justify-content: flex-start;

                #the-blocks, #compound {
                    width: calc(60% - 12.5px);
                    height: 375px;
                    margin-right: 0;
                    margin-top: 25px;
                    transform: translateY(0px);
                }
    
                #shoebox, #everyday-portfolio {
                    width: 100%;
                    max-width: 1400px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 600px;
                    transform: translateY(0px);

                    .tile-header {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 25px;
                    }

                    .tile-toggle {
                        transform: rotate(45deg);
                    }
                }
            }
        }

        &.row1 {
            width: 100%;
            max-width: 1400px;
            height: 400px;
            transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            position: relative;

            #year-end-review {
                width: calc(30% - 12.5px);
                max-width: 407.5px;
                height: 400px;
                margin-right: 25px;
                position: relative;
                top: 0;
                left: 0;
                transform: translateY(0);
                margin-bottom: 0px;
                transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            }

            #the-mitch-kitch {
                width: calc(70% - 12.5px);
                max-width: 967.5px;
                height: 400px;
                position: relative;
                top: 0;
                right: 0;
                transform: translateY(0);
                transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            }

            &.expanded-year-end-review {
                height: 800px;
                align-items: flex-end;
                justify-content: flex-end;

                #year-end-review {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-width: 1400px;
                    height: 500px;
                    margin-right: 0;
                    margin-bottom: 25px;

                    .tile-header {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 25px;
                    }

                    .tile-toggle {
                        transform: rotate(45deg);
                    }
                }
    
                #the-mitch-kitch {
                    width: calc(70% - 12.5px);
                    height: 275px;
                    transform: translateY(0px);
                }
            }

            &.expanded-the-mitch-kitch {
                height: 800px;
                align-items: flex-end;
                justify-content: flex-start;

                #year-end-review {
                    width: calc(30% - 12.5px);
                    height: 275px;
                    margin-right: 0;
                    margin-top: 25px;
                    transform: translateY(0px);
                }
    
                #the-mitch-kitch {
                    width: 100%;
                    max-width: 1400px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 500px;
                    transform: translateY(0px);

                    .tile-header {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 25px;
                    }

                    .tile-toggle {
                        transform: rotate(45deg);
                    }
                }
            }
        }

        &.row3 {
            width: 100%;
            max-width: 1400px;
            height: 400px;
            transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            position: relative;

            #sprout {
                width: calc(45% - 12.5px);
                max-width: 617.5px;
                height: 400px;
                margin-right: 25px;
                position: relative;
                top: 0;
                left: 0;
                transform: translateY(0);
                margin-bottom: 0px;
                transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            }

            #run-away {
                width: calc(55% - 12.5px);
                max-width: 757.5px;
                height: 400px;
                position: relative;
                top: 0;
                right: 0;
                transform: translateY(0);
                transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            }

            &.expanded-sprout {
                height: 800px;
                align-items: flex-end;
                justify-content: flex-end;

                #sprout {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-width: 1400px;
                    height: 500px;
                    margin-right: 0;
                    margin-bottom: 25px;

                    .tile-header {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 25px;
                    }

                    .tile-toggle {
                        transform: rotate(45deg);
                    }
                }
    
                #run-away {
                    width: calc(55% - 12.5px);
                    height: 275px;
                    transform: translateY(0px);
                }
            }

            &.expanded-run-away {
                height: 800px;
                align-items: flex-end;
                justify-content: flex-start;

                #sprout {
                    width: calc(45% - 12.5px);
                    height: 275px;
                    margin-right: 0;
                    margin-top: 25px;
                    transform: translateY(0px);
                }
    
                #run-away {
                    width: 100%;
                    max-width: 1400px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 500px;
                    transform: translateY(0px);

                    .tile-header {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 25px;
                    }

                    .tile-toggle {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    #landing-tiles {

        .project-row {
            flex-direction: column;
            margin: 0;

            .tile {

                &#shoebox, &#the-blocks, &#year-end-review, &#the-mitch-kitch, &#compound, &#everyday-portfolio, &#sprout, &#run-away {
                    width: 100%;
                    max-width: 700px;
                    margin: 0;
                    margin-bottom: 25px;
                    height: 400px;
                    padding: 0;
                }
            }

            &.row0, &.row1, &.row2, &.row3 {
                height: 550px;
                
                &.expanded-shoebox, &.expanded-the-blocks, &.expanded-year-end-review, &.expanded-the-mitch-kitch, &.expanded-compound, &.expanded-everyday-portfolio, &.expanded-sprout, &.expanded-run-away {
                    align-items: flex-end;
                    justify-content: flex-end;
                    height: 800px;
                    
                    #shoebox, #the-blocks, #year-end-review, #the-mitch-kitch, #compound, #everyday-portfolio, #sprout, #run-away {
                        position: relative;
                        max-width: 700px;
                        width: 100%;
                        margin: 0;
                        margin-bottom: 25px;
                        padding: 0;
                    }
                }

                &.expanded-the-blocks, &.expanded-year-end-review, &.expanded-compound, &.expanded-sprout {
                    align-items: flex-end;
                    justify-content: flex-end;
                    #the-blocks, #year-end-review, #compound, #sprout {
                        height: 525px;
                    }
                    #shoebox, #the-mitch-kitch, #everyday-portfolio, #run-away {
                        height: 275px;
                    }
                }

                &.expanded-shoebox, &.expanded-the-mitch-kitch, &.expanded-everyday-portfolio, &.expanded-run-away {
                    align-items: flex-end;
                    justify-content: flex-end;
                    #the-blocks, #year-end-review, #compound, #sprout {
                        height: 275px;
                    }
                    #shoebox, #the-mitch-kitch, #everyday-portfolio, #run-away {
                        height: 525px;
                    }
                }
            }
        }
    }
}