.fold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin-bottom: 100px;
    
    h1 {
        width: 100%;
        text-align: center;
        font-size: min(13vw, 128pt);
        margin: 0;
    }

    .above-the-fold-links {

        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        max-width: 1400px;
        margin-bottom: 100px;

        a {
            font-family: 'Inconsolata', monospace;
            font-size: 14pt;
            text-decoration: none;
            padding: 5px 15px;
            padding-bottom: 7px;
            border-radius: 7px;
            background-color: transparent;
            color: var(--text-color-main);
            transition: background-color 0.4s ease;

            body.hasHover &:hover {
                background-color: var(--menu-bg-hover);
            }
        }
    }

    .fold-arrow {
        position: absolute;
        text-decoration: none;
        color: var(--text-color-main);
        bottom: 0px;
        padding: 40px;

        svg {
            font-size: 36pt;
            animation: slide-arrow 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;

            @keyframes slide-arrow {
                0% {
                    transform: translateY(0);
                }
                20% {
                    transform: translateY(30px);
                }
                40% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }

        &.safari {
            margin-bottom: 70px;
        }
    }
}

.landing-project-tiles {
    h2 {
        font-family: 'Inconsolata', monospace;
        color: var(--text-color-main);
        font-weight: 400;
        font-size: 32pt;
        white-space: pre-wrap;
        text-align: center;
        line-height: 40pt;
        margin: 0;
    }
}

.landing-intro-card {
    width: calc(100% - 50px);
    height: calc(100vh - 170px);
    margin-bottom: 150px;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    h2 {
        font-family: 'Inconsolata', monospace;
        color: var(--text-color-main);
        font-weight: 400;
        font-size: 32pt;
        white-space: pre-wrap;
        text-align: center;
        line-height: 40pt;
        margin: 0;
    }

    a {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16pt;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
        width: fit-content;
        margin-left: 0;
        transition: margin-left 0.4s ease;

        svg {
            transform: rotate(-90deg);
            font-size: 32pt;
        }

        body.hasHover &:hover {
            margin-left: 10px;
        }
    }

    &#featured-project, &#work-experience {
        background-color: var(--intro-tile-outer);
        a {
            color: var(--link-color);
        }
    }

    &#featured-project {

        justify-content: space-between;
        
        .card-text {
            height: 43%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 5;
            a {
                color: var(--shoebox-tile);
                z-index: 5;
            }
        }
        img {
            position: absolute;
            display: flex;
            bottom: 0;
            align-self: center;
            max-height: 55%;
            max-width: 90%;
        }
    }

    &#technologies-overview {
        background-color: var(--intro-tile-inner);
        .card-text {
            height: 43%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .tech-imgs {
            max-height: 30%;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: space-between;

            img {
                width: 25%;
                max-height: 80%;
                padding: 15px;
            }
        }
        a {
            color: var(--technologies-link);
        }
    }

    &#work-experience {
        .card-text {
            height: 43%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .work-imgs {
            max-height: 25%;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;

            img {
                width: 25%;
                max-height: 80%;
                padding: 15px;
            }

            img:nth-child(2) {
                width: 35%;
            }

            img:last-child.top-end {
                margin-top: 15px;
            }

            #compass {
                margin-bottom: 15px;
            }
        }
    }
}

@media only screen and (max-width: 770px) {

    .landing-intro-card {
        margin-bottom: 100px;

        .card-text {
            h2 {
                font-size: min(6.3vw, 32pt);
                line-height: normal;
            }

            a {
                font-size: 14pt;
                svg {
                    font-size: 28pt;
                }
            }
        }
        

        &#featured-project {
        
        }

        &#work-experience {
            .work-imgs {
                max-height: 30%;
                width: 95%;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;

                #compass {
                    width: 45%;
                    margin-top: 20%;
                }

                #vcu {
                    width: 45%;
                    margin-bottom: 20%;
                }

                img:last-child.top-end {
                    margin-top: 20%;
                }

                .top-end {
                    margin-top: 20%;
                    width: 35%;
                    height: 35%;
                }

                .bottom-end {
                    margin-bottom: 20%;
                    width: 35%;
                    height: 35%;
                }
            }
            
        }
    
        &#technologies-overview {
            .tech-imgs {
                max-height: 30%;
                width: 95%;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;

                #css3 {
                    width: 28%;
                }

                .top-end {
                    margin-top: 20%;
                }

                .bottom-end {
                    margin-bottom: 20%;
                }
            }
        }
    }
}

sl-drawer::part(panel) {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: calc(100% - 50px);
    background-color: var(--tile-popup-color);
    padding: 25px 15px;
    margin-left: 25px;
    --size: 90%;
    --sl-shadow-x-small: 0 1px 2px #0000004e;
    --sl-shadow-small: 0 1px 2px #0000004e;
    --sl-shadow-medium: 0 2px 4px #0000004e;
    --sl-shadow-large: 0 2px 8px #0000004e;
    --sl-shadow-x-large: 0 4px 16px #0000004e;
}

sl-drawer::part(label) {
    display: flex;
    align-items: center;
}

sl-drawer::part(header) {
    margin-bottom: 15px;
}

sl-drawer::part(title) {
    padding-top: 0;
    padding-bottom: 0;
}

sl-drawer::part(close-button) {
    display: none;
}

sl-dialog::part(panel) {
    border-radius: 30px;
    width: calc(100% - 30px);
    background-color: var(--tile-popup-color);
    padding: 25px 15px;
    height: 70dvh;
    --size: 90%;
    --sl-shadow-x-small: 0 1px 2px #0000004e;
    --sl-shadow-small: 0 1px 2px #0000004e;
    --sl-shadow-medium: 0 2px 4px #0000004e;
    --sl-shadow-large: 0 2px 8px #0000004e;
    --sl-shadow-x-large: 0 4px 16px #0000004e;
}

sl-dialog::part(label) {
    display: flex;
    align-items: center;
}

sl-dialog::part(header) {
    margin-bottom: 15px;
}

sl-dialog::part(title) {
    padding-top: 0;
    padding-bottom: 0;
}

sl-dialog::part(close-button) {
    display: none;
}

sl-dialog {
    color: var(--text-color-main);

    h2 {
        display: flex;
        align-items: center;
        font-size: 24pt;
        margin: 0;
    }
    img {
        height: 50px;
        margin-right: 10px;

    }

    .close-btn {
        display: flex;
        align-items: center;
        font-size: 28pt;
        transform: rotate(45deg);
        cursor: pointer;
    }
}

.project-grid-row {
    position: relative;
    display: grid;
    align-items: center;
    // column-gap: 25px;
    margin-bottom: 25px;
    width: calc(100% - 25px);
    max-height: 95%;
    transition: all 0.5s ease;

    sl-drawer {
        color: var(--text-color-main);

        h2 {
            display: flex;
            align-items: center;
            font-size: 24pt;
            margin: 0;
        }
        img {
            height: 50px;
            margin-right: 10px;

        }
    
        .close-btn {
            display: flex;
            align-items: center;
            font-size: 28pt;
            transform: rotate(45deg);
            cursor: pointer;
        }
    }

    .project-landing-tile {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        text-align: center;
        padding: 0 25px;

        img {
            height: 120px;
        }

        h2 {
            font-size: 34pt;
            margin: 0;
        }

        .project-info-toggle {
            font-size: 28pt;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 25px;
            cursor: pointer;
        }
    }

    .project-landing-tile:first-of-type {
        margin-right: 25px;
    }

    #sprout {
        img {
            width: 90%;
            max-width: 170px;
        }
    }

    #run-away {
        h2 {
            font-style: italic;
        }
    }

    #run-away, #compound, #everyday-portfolio, #year-end-review, #shoebox {
        img {
            height: 100px;
        }
    }

    #compound, #year-end-review, #shoebox {
        img {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 740px) {
    .project-grid-row {
        grid-template-columns: 100% !important;
        height: fit-content !important;
        row-gap: 25px;
        width: 100%;

        .project-landing-tile {
            height: 350px;

            h2 {
                font-size: 28pt;
            }

            img {
                height: 100px;
            }
        }

        .project-landing-tile:first-of-type {
            margin-right: 0;
        }

        #run-away, #compound, #everyday-portfolio, #year-end-review, #shoebox {
            img {
                height: 85px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .project-grid-row {
        row-gap: 15px;
        margin-bottom: 15px;

    }
}