.project-showcase {
    margin-top: 50px;

    .back-to-work {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        font-size: 12pt;
        text-decoration: none;
        color: var(--button-text-color);
        cursor: pointer;
        scale: 1;
        transition: scale 0.3s ease;
        width: fit-content;
        background-color: var(--menu-bg-active);
        padding: 7px 15px;
        border-radius: 25px;

        svg {
            margin-right: 5px;
            font-size: 18pt;
        }

        body.hasHover &:hover {
            scale: 1.05;
        }
    }

    .project-card {
        padding: 25px;
        border-radius: 25px;
        padding-bottom: 35px;
    }

    @media only screen and (max-width: 500px) {
        .project-card {
            padding: 15px;
            padding-bottom: 25px;
        }
    }

    .project-header {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .status-info-chips {
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;

                svg {
                    font-size: 16pt;
                    margin-left: 10px;
                }
            }

            

            .project-info-chip {
                background-color: #4d5676;
                padding: 5px 15px;
                border-radius: 25px;
                margin: 5px 0;
            }
        }

        img {
            height: 100px;
        }
    
        h1 {
            margin: 0;
            font-size: 32pt;
        }
    }

    #sprout {
        .project-header {
            img {
                width: 90%;
                max-width: 170px;
            }
        }
    }

    #run-away {
        .project-header {
            h1 {
                font-style: italic;
            }
        }
    }

    #run-away, #compound, #everyday-portfolio, #year-end-review, #shoebox {
        .project-header {
            img {
                height: 70px;
            }
        }
    }

    #compound, #year-end-review, #shoebox {
        .project-header {
            img {
                margin-bottom: 10px;
            }
        }
    }

    .project-hero-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tagline {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 32pt;
            height: 40vh;
        }

        .highlight-label {
            font-size: 16pt;
            font-weight: 500;
            text-align: center;
            margin-bottom: 25px;
        }

        .highlight-tiles {
            display: flex;
            width: 100%;
            max-width: 850px;
            justify-content: space-evenly;

            .highlight-tile {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                font-size: 10pt;
                height: 115px;
                padding: 10px;
                width: 115px;
                border-radius: 25px;

                svg {
                    font-size: 24pt;
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .project-header {
            align-items: center;
            
            img {
                height: 75px;
                margin-top: 10px;
            }

            h1 {
                font-size: 24pt;
                text-align: center;
            }
        }
    }

}