.project-showcase {
    margin-top: 50px;

    .back-to-work {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        font-size: 12pt;
        text-decoration: none;
        color: var(--button-text-color);
        cursor: pointer;
        scale: 1;
        transition: scale 0.3s ease;
        width: fit-content;
        background-color: var(--menu-bg-active);
        padding: 7px 15px;
        border-radius: 25px;

        svg {
            margin-right: 5px;
            font-size: 18pt;
        }

        body.hasHover &:hover {
            scale: 1.05;
        }
    }

    .project-not-found {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30vh;
        font-family: 'Inconsolata', monospace;
        animation: blur-in-not-found 0.4s ease;

            @keyframes blur-in-not-found {
                0% {
                    filter: blur(10px);
                    transform: translateY(20px);
                }
                100% {
                    filter: blur(0px);
                    transform: translateX(0px);
                }
            }

        a {
            color: var(--link-color);
            text-decoration: none;
            cursor: pointer;
        }

        svg {
            font-size: 24pt;
            margin-bottom: 12px;
        }
    }

    .project-loader {
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;

        sl-spinner.spinner {
            font-size: 48pt;
            --track-width: 10px;
            --track-color: var(--tile-bg-color);
            --indicator-color: var(--text-color-main);
        }
    }

    .project-card {
        padding: 50px;
        border-radius: 25px;
        padding-bottom: 35px;
        animation: fade-in-proj-card 0.4s ease;

            @keyframes fade-in-proj-card {
                0% {
                    opacity: 0;
                    filter: blur(10px);
                    transform: translateY(200px);
                }
                100% {
                    opacity: 1;
                    filter: blur(0px);
                    transform: translateX(0px);
                }
            }
    }

    @media only screen and (max-width: 500px) {
        .project-card {
            padding: 15px;
            padding-bottom: 25px;
        }
    }

    .project-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .project-brand {
            display: flex;
            align-items: center;
            
            img {
                margin-right: 15px;
            }
        }


        .status-info-chips {
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;

                svg {
                    font-size: 16pt;
                    margin-left: 10px;
                }
            }

            

            .project-info-chip {
                background-color: #4d5676;
                padding: 5px 15px;
                border-radius: 25px;
                margin: 5px 0;
            }
        }

        img {
            height: 100px;
        }
    
        h1 {
            margin: 0;
            font-size: 32pt;
        }
    }

    #sprout {
        .project-header {
            img {
                width: 90%;
                max-width: 170px;
            }
        }
    }

    #run-away {
        .project-header {
            h1 {
                font-style: italic;
            }
        }
    }

    #run-away, #compound, #everyday-portfolio, #year-end-review, #shoebox {
        .project-header {
            img {
                height: 70px;
            }
        }
    }

    #compound, #year-end-review, #shoebox {
        .project-header {
            img {
                margin-bottom: 10px;
            }
        }
    }

    label {
        font-size: 16pt;
        font-weight: 500;

        &.highlight-label {
            text-align: center;
            margin-bottom: 25px;    
        }
    }

    .project-hero-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tagline {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 32pt;
            height: 55vh;
        }

        .highlight-tiles {
            display: flex;
            width: 100%;
            max-width: 850px;
            justify-content: space-evenly;

            .highlight-tile {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                font-size: 10pt;
                height: 115px;
                padding: 10px;
                width: 115px;
                border-radius: 25px;

                svg {
                    font-size: 24pt;
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .project-header {
            align-items: center;
            
            img {
                height: 75px;
                margin-top: 10px;
            }

            h1 {
                font-size: 24pt;
                text-align: center;
            }
        }
    }

    .project-content {
        margin-top: 75px;
        margin-bottom: 25px;

        .proj-section-header {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            margin-top: 50px;
    
            div {
                display: flex;
                align-items: center;
            }
    
            svg {
                margin-right: 5px;
                font-size: 26pt;
            }
        }

        .description {
            font-size: 16pt;
            max-width: 800px;
        }

        .visuals {
            sl-carousel::part(base) {
                gap: unset;
                height: 500px;
            }

            sl-carousel-item {
                height: 500px;
            }

            sl-carousel::part(scroll-container) {
                padding: 2px;
                --slide-gap: 12px;
            }
            img {
                border: 2px solid var(--background-color);
                border-radius: 25px;
                // width: calc(100% - 4px)
                height: 100%;
                width: fit-content;
                max-width: 400px;
            }

            sl-carousel::part(navigation-button--previous) {
                font-size: 24pt;
                padding: 0;
                padding-right: 10px;
            }

            sl-carousel::part(navigation-button--next) {
                font-size: 24pt;
                padding: 0;
                padding-left: 8px;
            }
        }
    }
}