.resume {
    margin-top: 30px;

    .section-heading {
        font-family: 'Inconsolata', monospace;
        font-size: 16pt;
    }

    .intro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;

        img {
            height: 250px;
            border-radius: 50%;
            margin-left: 15px;
            margin-top: 10px;
        }

        h2 {
            font-size: 48pt;
            font-weight: 500;
            margin: 0;
        }

        p {
            font-family: 'Inconsolata', monospace;
            font-size: 18pt;
            margin: 10px 0;
        }

        .intro-text {
            .social-icons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 200px;
                margin-top: 25px;

                .link {
                    text-decoration: none;
                    

                    svg {
                        font-size: 24pt;
                        cursor: pointer;
                        color: var(--text-color-main);
                    }
                }
            }
        }

        .mobile-intro-text {
            display: none;
        }
    }

    @media only screen and (max-width: 740px) {

        .intro {

            img {
                height: 100px;
                border-radius: 50%;
            }

            .intro-text {
                margin-bottom: 5px;

                .social-icons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 175px;
                    margin-top: 10px;

                    .link {
                        svg {
                            font-size: 18pt;
                        }
                    }
                }
            }
    
            h2 {
                font-size: 28pt;
                font-weight: 600;
                margin: 0;
            }

            p {
                font-size: 14pt;
                margin: 0;
                display: none;
            }

            .mobile-intro-text {
                display: inline;
            }

            .mobile-intro-text::after {
                content: "designer.";
                animation: intro-animation 10s both infinite;
            }

            @keyframes intro-animation {
                0% {opacity: 1; content: "designer.";}
                20% {opacity: 1; filter: blur(0px); content: "designer.";}
                23% {opacity: 0; filter: blur(12px); content: "designer.";}
                26% {opacity: 0; filter: blur(12px); content: "developer.";}
                29% {opacity: 1; filter: blur(0px); content: "developer.";}
                50% {opacity: 1; filter: blur(0px); content: "developer.";}
                53% {opacity: 0; filter: blur(12px); content: "developer.";}
                56% {opacity: 0; filter: blur(12px); content: "traveler.";}
                59% {opacity: 1; filter: blur(0px); content: "traveler.";}
                86% {opacity: 1; filter: blur(0px); content: "traveler.";}
                89% {opacity: 0; filter: blur(12px); content: "traveler.";}
                93% {opacity: 0; filter: blur(12px); content: "designer.";}
                96% {opacity: 1; filter: blur(0px); content: "designer.";}
            }
        }
    }

    .disclaimer {
        margin: 35px 0;
    }

    .disclaimer-container {
        background-color: var(--tile-bg-color);
        max-width: fit-content;
        padding: 25px;
        font-family: 'Inconsolata', monospace;
        font-size: 16pt;
        border-radius: 25px;

        a {
            color: rgb(47, 68, 255);
            transition: color 0.4s ease;
            cursor: pointer;

            body.hasHover &:hover {
                color: rgb(75, 171, 255);
            }
        }
    }

    @media only screen and (max-width: 740px) {
        .disclaimer-container {
            font-size: 14pt;
            padding: 20px 25px;
        }
    }

    .education, .experience {
        margin-bottom: 50px;

        .edu-header, .exp-header {
            display: flex;
            align-items: center;
            
            svg {
                font-size: 16pt;
                margin-left: 15px;
                cursor: pointer;
            }
        }

        .item {
            margin-top: 15px;
            line-height: 24pt;

            span {
                font-size: 12pt;
            }

            h3 {
                font-size: 16pt;
                margin: 0;
            }

            p {
                font-size: 16pt;
                margin: 0;
            }

            .edu-docs-container {
                animation: fade-in-docs 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                @keyframes fade-in-docs {
                    0% {
                        transform: translateY(10px);
                        opacity: 0;
                    }
                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }

            .edu-docs {
                font-family: 'Inconsolata', monospace;
                font-size: 12pt;
                display: flex;
                align-items: center;
                font-weight: 500;
                color: var(--link-color);
                text-decoration: none;
                width: fit-content;

                svg {
                    font-size: 18pt;
                    margin-right: 7px;
                    margin-bottom: 1px;
                }
            }

            .multiple-positions {
                display: flex;
                flex-direction: column;

                .sub-dates {
                    font-size: 12pt;
                    line-height: 12pt;
                }

                svg {
                    font-size: 16pt;
                    margin-top: 10px;
                    margin-left: -2px;
                    color: var(--copyright-text-color);
                }
            }

            .multiple-positions:first-of-type {
                svg {
                    margin-top: 5px;
                }
            }
        }
    }

    .proficiencies {
        margin: 25px 0;
        h3 {
            font-size: 16pt;
            display: flex;
            margin: 0;
            margin-top: 15px;
            align-items: center;
            width: fit-content;
            cursor: pointer;

            svg {
                margin-left: 5px;
                transform: rotate(180deg);
                transition: transform 0.3s ease;

                &.down {
                    transform: rotate(0);
                }
            }
        }

        .section-list {
            display: flex;
            flex-direction: column;
            height: 0;
            opacity: 0;
            transform: translateY(15px);
            transition: all 0.4s ease;
            margin: 0 0;


            &.open {
                height: fit-content;
                opacity: 1;
                transform: translateY(0);
                margin: 25px 10px; 
                margin-top: 10px;

                span {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .digital-copy-text {
        display: flex;
        align-items: center;
        font-family: 'Inconsolata', monospace;
        font-size: 14pt;
        text-align: center;
        white-space: nowrap;

        p {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            a {
                color: var(--link-color);
                cursor: pointer;
            }
        }

        svg {
            font-size: 24pt;
            margin-right: 15px;
        }

       
    }
}