.travel {
    h1 {
        font-size: 32pt;
    }

    .travel-hero-text {
        position: absolute;
        font-size: min(96pt, 13vw);
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: calc(100% - 50px);
        height: 80vh;
        z-index: 1;
        animation: color-dance 1.5s ease both;
        @keyframes color-dance {
            0% {
                color: var(--background-color);
            }
            12% {
                color: rgb(200, 175, 129);
            }
            24% {
                color: rgb(186, 125, 103);
            }
            36% {
                color: rgb(170, 124, 186);
            }
            48% {
                color: rgb(153, 158, 219);
            }
            60% {
                color: rgb(140, 165, 167);
            }
            80% {
                color: rgb(156, 207, 156);
            }
            100% {
                color: var(--text-color-main);
            }
        }
    }

    .globe {
        border: 1.5px solid var(--text-color-main);
        background-color: var(--background-color);
        border-radius: 50%;
        height: 140px;
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        width: 140px;
        z-index: 2;
        scale: 1.2;
        animation: fade-globe 4s ease both;
        animation-delay: 1s;
        @keyframes fade-globe {
            0% {
                opacity: 0;
                transform: translate(-45%, -20%);
            }
            100% {
                opacity: 1;
                transform: translate(-45%, -50%);

            }
        }
        
        svg {
          animation: rotation 15s linear 0s infinite;
          
          path {
            stroke: var(--text-color-main);
          }
        }
      }
      
      @keyframes rotation {
        from {
          transform: translateX(0);
        }
        
        from {
          transform: translateX(-50%);
        }
    }

    @media only screen and (max-width: 640px) {
        .travel-hero-text {
            width: calc(100% - 30px);
            height: 85vh;
        }

        .globe {
            scale: 1;

            @keyframes fade-globe {
                0% {
                    opacity: 0;
                    transform: translate(-50%, -20%);
                }
                100% {
                    opacity: 1;
                    transform: translate(-50%, -50%);
    
                }
            }
        }
    }
}