.travel-gallery {
    height: calc(100vh - 125px);
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
        font-size: 28pt;
        font-weight: 700;
        margin: auto;
        text-align: center;
        z-index: 3;
    }

    .desktop-gallery-map-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            max-width: 120%;
            width: 120%;
            max-height: 120%;
        }

        .north-america, .south-america, .asia, .oceania, .europe, .antarctica, .africa {
            fill: #2a2a2a;
            cursor: pointer;
        } 
    }

    

    .image-grid {
        display: grid;
        column-gap: 15px;
        row-gap: 15px;
        grid-template-columns: repeat(10, 1fr);

        img {
            height: 100px;
            width: 100px;
            border-radius: 25px;
            object-fit: cover;
            cursor: pointer;
            transform: scale(1);
            will-change: transform;
            transition: 0.3s ease;

            body.hasHover &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.group-test {
    fill: #ff0000;
}

.PhotoView__Photo {
    border-radius: 40px;
}

.PhotoView-Slider__Backdrop {
    backdrop-filter: blur(5px);
}


.PhotoView-Slider__BannerWrap {
    display: none;
}