.travel-gallery {
    width: 100%;
    height: 70vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
        font-size: 28pt;
        font-weight: 700;
        margin: auto;
        text-align: center;
    }
}